@import '/src/styles/variable.css';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

.Home-header{
    border-bottom: 2px solid var(--purple);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    height: 6em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main {
    display: flex;
    flex: 1; 
  }

.sidebar {
    border-right: 1px solid var(--purple);
    width: 12em;
    height: 100%;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    font-family: var(--inter);    
    font-weight: 800; 
    transform: skewX(-8deg);
    background: linear-gradient(var(--purple) , #000000);
    background-clip: text;
    color: transparent;
    font-size: 3.5em;
    padding-inline: 0.15em;
}

.left-icons,
.right-icons{
    display: flex;
    align-items: center;
}

.left-icons{
    padding-left: 1em;
}

.right-icons{
    padding-right: 1em;
}

.icon_menu,
.icon_bell,
.icon_user {
  margin-right: 10px;
}

.icon_menu{
    width: 3em;
    height: 3em;
    color: var(--purple);
}

.icon_bell{
    width: 3em;
    height: 3em;
}

.homebtn,
.searchbtn,
.icon_user
{
    width: 3.5em;
    height: 3.5em;
}

.joinbtn{
    width: 4em;
    height: 4em;
}

.homebtn{
    color: var(--purple);
}

.icon-with-name {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3em;
}

.icon-name {
    margin-left: 10px; 
    font-family: var(--inter-extralight);
    font-size: 1.2em;
    font-weight: 100;
}

.btnCircle{
    display: grid;
    place-items: center;
    margin-bottom: 2em;

}
.addCircle{
    color: var(--purple);
    width: 5em;
    height: 5em;
}

.icon-with-name:hover,
.btnCircle:hover,
.icon_user:hover,
.icon_bell:hover,
.icon_menu:hover{
    cursor: pointer;
}

.main-content {
    flex: 1;
    display: flex;
    margin: 20px 50px 50px 20px;
    border: 2px solid var(--purple);
    background: linear-gradient(180deg, #FFF 0%, rgba(149, 40, 144, 0.20) 100%);
}

.imgParty{
    width: 50%;
    height: calc(100% - 2em);
    margin-block: 1em;
    margin-left: 1em;
    object-fit: cover;
}

.divider {
    height: 100%; 
    width: 1px; 
    background-color: var(--purple);
    margin-left: 1em;
  }


  .userPartyInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
    align-items: center;
    width: 100%;
    font-family: var(--inter);
    font-weight: 800;
    color: var(--purple);
  }

  .imgProfileUser{
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        border: 1px solid var(--purple);
  }

  .nameUser{
    font-size: 1.5em;
  }