@import '/src/styles/variable.css';

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

.Home-header{
    border-bottom: 2px solid var(--purple);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
}

.Home-header h1{
    font-family: var(--inter);    
    font-weight: 800; 
    transform: skewX(-8deg) translate(-50%, -50%);
    background: linear-gradient(var(--purple) , #000000);
    background-clip: text;
    color: transparent;
    font-size: 3em;
    position: fixed;
    left: 50%;
    top: 0.5%;
}

.main {
    display: flex;
    flex: 1;
  }

/*METODO PARA OCULTAR LA BARRA LATERAL*/

.hideSidebar{
    margin-left: -12em;
}

.screen{
    display: flex;
    height: calc(100vh - 5.1em);
}

.sidebar {
    border-right: 1px solid var(--purple);
    width: 12em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

nav{
    flex: 1;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav li{
    padding-block: 4vh;
    box-sizing: border-box;
    transition: background-color .5s;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

nav li:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

nav li a {
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    margin-left: 1.5em;
    transition: 0.3s ease-in-out;
}

nav li:last-child a{
    margin: 0;
}


.left-icons,
.right-icons{
    display: flex;
    align-items: center;
}

.left-icons{
    padding-left: 1em;
}


.right-icons{
    padding-right: 1em;
}

.icon_bell,
.icon_user {
  margin-right: 10px;
}

.icon_menu{
    width: 2.3em;
    height: 2.3em;
    color: var(--purple);
    margin-left: 10px;
}

.icon_bell{
    width: 2.3em;
    height: 2.3em;
}

.homebtn,
.searchbtn,
.icon_user
{
    width: 2.8em;
    height: 2.8em;
}

.joinbtn{
    width: 4.5em;
    height: 4.5em;
}

.homebtn{
    color: var(--purple);
}

.icon-with-name {
    display: flex;
    align-items: center;
    width: 100%;

}

.icon-name {
    margin-left: 10px; 
    font-family: var(--inter-extralight);
    font-size: 1em;
    font-weight: 100;
}

.btnCircle{
    display: grid;
    place-items: center;
}

.addCircle{
    color: var(--purple);
    width: 4.5em;
    height: 4.5em;
}

.icon_user:hover,
.icon_bell:hover,
.icon_menu:hover{
    cursor: pointer;
}

.parties{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    scrollbar-color: transparent; 

    &::-webkit-scrollbar {
        width: 3px; 
        
    }

    &::-webkit-scrollbar-thumb {
    background-color: var(--purple); /* Color de la barra de desplazamiento */
    border-radius: 15px;
}

}